__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
*.spec
artifacts/*.img
artifacts/*.iso
artifacts/*.vhd
artifacts/*.pyz
artifacts/*.png
*.partial
.DS_Store
Thumbs.db
